@import "../themes/SpinMaster Theme_100001/styles.less";
body {
    background-color: @SitePageBackgroundColor;
    background-color: @ColorSilver;
}
body #page {
    background-color: @ColorWhiteTransparent;
}

#navbar_viewer {background: white;}
#navbar_viewer div {
    border: 1px solid black;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 10px;
}

#ColorMineShaft {background: #333333;}
#ColorDoveGray {background: @ColorDoveGray;}
#ColorMercury {background: @ColorMercury;}
#ColorWhiteTransparent {background: rgba(255, 255, 255, .4);}

#ColorRed { background: @ColorRed;}
#ColorGreen { background: @ColorGreen;}

#ColorSpinBlueBold { background: @ColorSpinBlueBold;}
#ColorSpinBlueRegular { background: @ColorSpinBlueRegular;}
#ColorSpinBlue { background: @ColorSpinBlue;}
#ColorSpinBlueLight { background: @ColorSpinBlueLight;}

#ColorShadeLight { background: @ColorShadeLight;}
#ColorShadeRegular { background: @ColorShadeRegular;}
#ColorShadeBold { background: @ColorShadeBold;}
#FieldBorderWidth { background: @FieldBorderWidth;}

@ColorBlack: #000000;
@ColorMineShaft: #333333;
@ColorDoveGray: #666666;
@ColorSilver: #cccccc;
@ColorMercury: #e5e5e5;
@ColorWhite: #ffffff;
@ColorWhiteTransparent: rgba(255, 255, 255, .4);
@ColorRed: #cc0000;
@ColorGreen: #178401;
//Color spin blue and variants
@ColorSpinBlueBold: #1b3075;
@ColorSpinBlueRegular: #223e99;
@ColorSpinBlue: #007ab8;
@ColorSpinBlueLight: #00d2ff;
//color shades and variants
@ColorShadeLight: #dfe0e8;
@ColorShadeRegular: #635e68;
@ColorShadeBold: #303039;
@FieldBorderWidth: 2px;